* {
  box-sizing: border-box;
  font-smooth: never;
  -webkit-font-smooth: never; }

body {
  background: #222;
  color: #666;
  font-family: "VT323", monospace;
  background-image: url('https://s3.amazonaws.com/images.seroundtable.com/google-holiday-party-gif-1386680501.gif');
  padding: 30px; }
  body h1, body h4 {
    margin: 0; }
  body h1 {
    color: white;
    font-size: 9rem;
    text-align: center; }
  body h4 {
    font-size: 2rem; }
