$vt: 'VT323', monospace;

* {
	box-sizing: border-box;
	font-smooth: never;
	-webkit-font-smooth: never;
}

body {
	background: #222;
	background: url('https://s3.amazonaws.com/images.seroundtable.com/google-holiday-party-gif-1386680501.gif');
	background-size: 100%;
	color: #CCC;
	font-family: $vt;
	padding: 30px 60px;

	h1, h2, h4 { margin: 0; }

	h1 {
		color: white;
		font-size: 9rem;
		text-align: center;
	}
	h2 { 
		font-size: 6rem;
	}

	h4 { 
		font-size: 2rem;
		background: linear-gradient(90deg, yellow, transparent);
		color: hotpink;
	}

	p, label { font-size: 2rem; }

	section {
		&.form {
			background: purple;
			background-blend-mode: multiply;
			color: hotpink;
			margin: 0 auto;
			padding: 30px;
			width: 50%;

			div {
				margin-top: 30px;
			}

			input[type="submit"] {
				background: white;
				color: #222;
				margin-top: 30px;
				zoom: 200%;
			}
		}
	}
}
